@CHARSET "UTF-8";

#page {
	max-width: 1000px;
	min-width: 500px;
	margin: auto;
	background-color: #E9F7C5;
}

#center {
	margin: auto;
	max-width: 600px;
	position: relative;
}

.error {
	color: red;
	font-size: .7em;
}

#map {
	width: 600px;
	height: 500px;
}

body {
	background-color: #13355B;
}

#header {
	margin: auto;
	width: 700px;
}

#left {
	width: 200px;
	float: left;
	position: relative;
}

#right {
	width: 200px;
	float: left;
	position: relative;
}

#footer {
	height: 200px;
}

#addMe {
	background-color: #577618;
}

#zip {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	width: 240px;
	background-color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -120px;
	padding: 10px;
	font-size: 0.8em;
	color: #7D2E19;
	z-index: 99;
}

.sharrre {
	position: fixed;
	bottom: 50%;
	margin-top: 25px;
	right: 30px;
	display: block;
}

.sharrre .box {
    float:left;
}

.sharrre .count {
    color:#444444;
    display:block;
    font-size:17px;
    line-height:34px;
    height:34px;
    padding:4px 0;
    position:relative;
    text-align:center;
    text-decoration:none;
    width:50px;
    background-color:#eee;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}

.sharrre .share {
    color:#FFFFFF;
    display:block;
    font-size:11px;
    height:16px;
    line-height:16px;
    margin-top:3px;
    padding:0;
    text-align:center;
    text-decoration:none;
    width:50px;
    background-color:#9CCE39;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}

.sharrre .buttons {
    display:none;
    position:absolute;
    margin-left:-60px;
    z-index:10;
    max-width: 60px;
}

.sharrre .button {
    max-width:50px;
    margin-right:10px;
    margin-bottom: 10px;
}