@CHARSET "UTF-8";

#page {
	width: 100%;
	margin: 0;
	display: block;
	background: #ffffff url('../images/background.png') repeat left top;
}

#body {
	width: 100% ;
	margin: 0 ;
	display: block ;
}

#center {
	margin: 0;
	max-width: 100%;
	position: relative;
	display: block;
		
}

#subtitle {
	text-align: center;
}

#info {
	margin: auto;
	max-width:800px ;
	height: 25px ;
	position: relative ;
	text-align: center;
}
#userinfo {
	position: relative ;
	left:0px ;
	top:0px ;
}

#userinfo-ribbon
{
	padding:5px;
	height:25px;
	text-align:center;
	background-color:#e5eecc;
	border:solid 1px #c3c3c3;
	opacity:0.95;
}

#statbox {
	position: absolute;
	top: 15px;
	right: 15px;
	padding: 5px;
	width: 150px;
	height: 200px;
	z-index: 100;
	display: none;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	font-size: 0.8em;
	color: #7D2E19;
	background-color: white;
	opacity:0.80 ;
}

#statbar {
	display:block;
	width=100%;
	border:solid 1px #c3c3c3;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 10px;
	
	padding: 2px;
	opacity:1.0;
	background-color: #DDDDFF ;
	text-align: center;
}

#mecon {
	display:inline ;
	padding: 0 15px 0 5px ;
	width: 20px; 
	height: 20px ;
	overflow: hidden;
}

.meconthumb {
	width: 25px;
	height: 50px ;
	margin: 0, 0, -30px, 0 ;
	cursor: pointer;
}

#usergreeting {
	display:inline ;
	margin: 0 5px 0 5px ;
	vertical-align: top;	
	cursor: pointer;
	
}

#expandform {
	cursor: pointer;
}

button#logout {
	display:none;
	vertical-align: top;	
	margin: 0 5px 0 10px ;
}

button#login {


}

button#expand {
	vertical-align: top;	
	margin: 0 5px 0 10px ;
}

.ribbonbutton {
	display: inline-block;
	vertical-align: top;	
	width: 19px;
	height: 19px;
	margin: 0 5px 0 10px ;
}

#userinfo-body
{
	position:absolute ;
	left:0px;
	top: 35px ;
	z-index: 1001;
	padding:5px;
	width: 100%;
	height: 500px ;
	background-color:#e5eeff;
	border:solid 1px #c3c3c3;
	display:none;
	opacity:0.85;

}

#logindiv {
	display: inline-block ;
	vertical-align: top;	
	margin: 0 5px 0 10px ;
}

#loginpanel
{
	position:absolute ;
	left: 50%;
	margin-left: -250px;
	top: 35px ;
	z-index: 1002;
	padding:10px;
	width: 500px;
	height: 400px ;
	background-color:#e5eeff;
	border:solid 1px #c3c3c3;
	display:none;
	opacity:0.95;

}

#imagepicker_scroll {
	width: 100%;
	height:140px;
	overflow-x: scroll;
	overflow-y: hidden;
	margin: 5px;
}

#imagepicker_inner {
	width: 2400px ;
	height: 140px ;
}

#userinfo-form {
	font-size:0.875em;
	width: 95%;
	max-width: 600px;
	height: 500px ;
	margin: auto ;
	
}

.accordpanel {
	height: 325px ;
}

#sharenow { }

.formrow{
	border:solid 1px #c3c3c3;
	width:100%;
}

.formlabel {
	display: inline-block;
	width: 200px;
	margin: 0 0 0 10px;
}
.formctl {
	display: inline-block;
}

.formctl>* {
    vertical-align:middle;
}

.formctl>input {
	width: 250px;
	vertical-align:middle;
}

.formctl>select {
	margin: 5px;
}

.tablerow{
	border:solid 1px #c3c3c3;
	width:100%;
}
.tablerow:nth-child(even)		{ background-color:#e0e0ff; }

.formheader {
	margin: 0 0 0 10px ;
}

.formcol {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	margin: 2px;
	width: 15%;
}

.centertext {
	text-align: center;
}


#map {
	width: 100%;	
	height: 500px;
	display: block;
}



body {
	background-color: #13355B;
	font-family: Verdana, Geneva, sans-serif ;
}

.banner_img {
    width: inherit;  
 	 max-width: 100%; 
  	height: auto;   
}

#stats {

	background-color:#ddffff ;
	width: 95%;
	border: 1px solid #036;
	margin: auto ;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	
}

#statsheader {
	background-color:white;
	height:25px;
	padding: 5px;
	margin: 5px;
	text-align:center;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;

}

.statbox {
	border: 1px solid #036;
	margin: auto ;
	width:525px;
	height: 535px;
	padding: 4px;
		
}

.statboxtitle {
	text-align: center;
}

.wordcloud {
	border: 1px solid #036;
	height: 500px;
	margin: 8px;
	padding: 0;
	width: 500px;
}

#header {
	margin: auto;
	max-width: 700px;
	width: 50%;
	display: block;
}

#header a {
	display: block;
}

#footer {
	max-height: 100px;
	display: block;
	text-align:center
	
}

.erricon {
	height: 20px;
	width: 20px;
	horizontal-align: bottom;
	display:none;
}

.goodicon {
	height: 20px;
	width: 20px;
	horizontal-align: bottom;
	display:none;
}

#share {
	display: block;
	max-width: 300px;
	min-height: 45px;
	margin: auto;
	align: center;
}

#video {
	display: block;
	margin: auto;
	width: 362px;
	padding: 10px;
}

#video a {
	width: 362px;
}